body {
    background-image: url(../images/capturing-the-human-heart-TrhLCn1abMU-unsplash.jpg);
}

.custom-container {
    margin-top: 30px;
    background: white;
    padding: 20px;
}
/* 
#computer-number, #count {
    font-size: 80px;
}

#wins, #losses {
    font-size: 50px;
}

button {
    background: transparent;
    border: transparent;
} */ 